# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.sqlite3-journal

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django migrations (opcional, algunas personas suben estas)
*/migrations/*.py
!*/migrations/__init__.py

# Static and media files
staticfiles/
media/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
*.iml
*.ipr
*.iws

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pipenv
Pipfile.lock

# Celery beat schedule file
celerybeat-schedule

# local env variables
.env.local
